@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Assignment.Models.UserInput
@{
}


<div class="card align-items-center border-0">
    <div class="card-body border border-1 rounded p-5 ">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
            <a asp-action="Index" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                    <img src="~/images/Logo.png" alt="Brand Logo" class=" me-2 rounded-circle"
                         style="width: 50px; height: 50px; ">

                </span>
                <span class="app-brand-text demo text-body fw-bold">ED</span>
            </a>
        </div>
        
        <form id="formAuthentication" class="mb-3" asp-action="Register">
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" asp-for="UserName"
                       placeholder="Enter your username" autofocus="">
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" asp-for="Email" placeholder="Enter your email">
            </div>
            <div class="mb-3 form-password-toggle">
                <label class="form-label" asp-for="Password">Password</label>
                <div class="input-group input-group-merge">
                    <input type="password" id="password" class="form-control" asp-for="Password"
                           placeholder="············" aria-describedby="password">
                    <span class="input-group-text cursor-pointer" id="togglePassword">
                        <img src="~/images/icon/eye-slash.svg" asp-append-version="true">
                    </span>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                <div class="input-group input-group-merge">
                    <input type="password" id="confirmpassword" class="form-control" asp-for="ConfirmPassword"
                           placeholder="············" aria-describedby="confirmpassword">
                </div>
            </div>


            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="terms-conditions">
                    <label class="form-check-label">
                        I agree to
                        <a href="">privacy policy &amp; terms</a>
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary d-grid w-100">
                Sign up
            </button>
        </form>

        <p class="text-center">
            <span>Already have an account?</span>
            <a asp-action="Login">
                <span>Login</span>
            </a>
        </p>
    </div>
</div>


<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        const passwordInput = document.getElementById('password');
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        const imgSrc = type === 'password' ? '/images/icon/eye-slash.svg' : '/images/icon/eye.svg';
        this.querySelector('img').src = imgSrc;
    });

</script>